{% extends 'base.html.twig' %}

{% block body %}
<h1>Des quiz gratuits dans tous les domaines</h1>
<br>
<h5>Question pour un champion, Qui veut gagner des millions, Trivial Pursuit, ... Tous ces noms vous disent forcément quelque chose ! Car si vous appartenez à la catégorie des fans de quiz en tout genre, ce site de quizz gratuit est fait pour vous.</h5>

<h5>Incollable, indétrônable, véritable puits de connaissances, vos amis
redoutent de vous affronter lors des soirées quiz.
Histoire, actualités, people, télé, cinéma, sports, musique, ésotérisme, culture générale, ..., les domaines sont variés et les questions nombreuses.
Découvrez nos questions et entraînez-vous gratuitement à répondre à tous nos quizz gratuits.</h5>
<br>
<img src="choose.png" alt="quiz image" style="width:50%">
<br><br>
<a href="/quiz" class="btn btn-success btn-lg">Démarrez un quiz</a>
{% endblock %}