{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}

<section class="quiz">

{% for categorie in categories %}


  <div class="col-sm-6">
<br>
  <div class="card" style="width:1000px">
    <img class="card-img-top" src="{{ categorie.image }}">
    <div class="card-body">
      <h4 class="card-title">{{ categorie.name }}</h4>
      <a href="{{ path('quiz_show', {'categorie': categorie.id}) }}" class="btn btn-dark stretched-link">Démarrez votre quiz</a>
    </div>
  </div>
  </div>
  {% endfor %}
  
{% endblock %}
